* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app-wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .9);
}

.app-header {
  color: white;
  text-align: center;
  margin-bottom: 5rem;
  max-width: 500px;
}

.app-header h2 {
  margin-bottom: .5rem;
  font-size: 3.5rem;
}

.app-header p {
  font-size: 1.7rem;
}

